body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

svg {
  -webkit-user-select: none;
  user-select: none;
}

.items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}